@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 20px 80px;
  font-family: "Source Code Pro", monospace;
  font-size: 18px;
  font-weight: 450;
}

/* Header */
.logo {
  color: midnightblue;
  font-weight: 700;
  font-size: 32px;
}
.head {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

/* About */
.subhead {
  font-size: 20px;
  font-weight: 700;
}
.about {
  font-family: "Work Sans", sans-serif;
}

/* Content */
.content {
  background-color: blanchedalmond;
  color: rgb(197, 160, 111);
  padding: 40px;
}
pre {
  margin: 5px 0px;
  padding: auto;
}
.red {
  color: brown;
  margin: 0;
}
.italics {
  margin: 0;
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
}
.bold {
  font-weight: bold;
  margin: 0;
}
.black {
  margin: 0;
  color: black;
}
